{% extends "base.html" %}
{% block title %}Dashboard - AGORA{% endblock %}
{% block content %}
<div class="hero">

    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Welcome, {{ session["username"] }}</h5>
            <p class="card-text">This is your dashboard where you can manage your activities.</p>
            <button class="btn-danger">
                <a href="{{ url_for('main.logout') }}" class="btn btn-danger mt-3">Logout</a>
            </button>
        </div>
    </div>

</div>
{% endblock %}
